@media only screen and (min-width: 1080px){
    .cont{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        /* grid-template-rows: 1fr 1fr 1fr 1fr; */
        grid-template-areas: 
        "big detail"
        "cat sprod";
    }
    .bpic{
        height: 60vh;
    }
    .bpic img{
        width: 50%;
        margin: auto;
    }
    .pdetail{
        height: 60vh;
        padding: 0;
        font-size: 1rem;
    }
    .pdetail button{
        width: 20%;
        padding: 0%;
        height: 10%;
        font-size: 1rem;
    }
    .pdetail .checkout{
        padding-top: 2%;
    }
    .quant button{
        background: none;
        border: none;
        font-size: 2rem;
    }
    .quant input[type=number]{
        width: 20%;
        font-size: 1rem;
    }
    .checkout p{
        padding: 3%;
        padding-left: 2%;
        margin: 0;
    }
    .checkout button{
        height: 20%;
        padding: 3%;
    }
    .oproduct{
        padding: 15%;
    }
    .categ{
        padding: 10%;
        padding-top: 20%;
    }
    .categ h1{
        bottom: 40%;
    }
}